---
---

/*@import "{{ site.theme }}";
*/

.page{
	font-family: helvetica;
	color: #595959;
	font-weight: lighter;
	font-size:  16px;
}

.intro {
	display: flex;
	align-items: center;
}

.intro > .content {
	width: 75%;
}

.about-the-name {
	font-style: italic;
	background-color: #FEF9F4;
	padding: 1%;
}

.about-the-name > .heading {
	font-size:  18px;
	font-style: italic;
	margin:  none;
}

.intro > .photo {
	width: 25%;
	opacity:  0.8;
	padding: 1%;
}	

.fry {
	display: flex;
}

.fry > .photo {
	width: 50%;
	opacity:  0.8;
	padding: 1%;
}	

.fry > .content {
	width: 50%;
	padding: 5%;
}	

.services {
	display: flex;
	flex-flow: column nowrap;
}

.service {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}

.service-type, .great-fit, .not-fit, .empty-col {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	font-size: 14px;
	font-weight: lighter;
}

.service-type {
	width: 25%;
}

.empty-col {
	width:  5%;
}

.great-fit, .not-fit{
	width: 35%;
}


img {
	max-width: 100%;
	height: auto;
	border-radius: 3px;
}

a {
	color: #FF9845;
}

h1 {
	color: #FF9845;
}

li {
	margin-bottom: 5px;
}

.heading {
	font-size:  20px;
}

.header-row > .heading {
	justify-content: center;
}

.service-type{
	font-weight: bold;
	font-size: 24px;
}

.mobile-header {
	display: none;
}

@media screen and (max-width: 695px) {

	.service, .intro {
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
	}

	.service-type, .empty-col, .great-fit, .not-fit{
		width: 100%;
	}

	.header-row {
		display: none;
	}

	.mobile-header {
		display: block;
		font-size: 14px;
		font-weight:  bold; 
		margin-bottom: 2px;
	}

	.fry > .photo {
		width: 30%;
		vertical-align: center;
	}

	.fry > .content {
		width: 70%;
		padding: 2%;
	}

	.intro > .content {
		width: 100%;
	}

	.intro > .photo {
		width: 50%;
	}
}